
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #222;
  background: #fff;
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 8px 16px;
  z-index: 1000;
}

/* Links do menu */
nav a {
  margin-right: 12px;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 8px;
}

nav a:hover {
  background: #555;
  color: #fff;
  border-radius: 4px;
}

/* Seções */
section {
  padding: 40px 16px;
  max-width: 900px;
  margin: 0 auto;
}


/* tema*/

.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

/* Menu no modo escuro */
.dark-mode header {
  background-color: #1e1e1e;
  border-bottom: 1px solid #444;
}

.dark-mode nav a {
  color: #e0e0e0;
}

.dark-mode nav a:hover {
  background: #333;
  color: #fff;
}

.dark-mode button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}


.dark-mode input,
.dark-mode textarea {
  background: #1f1f1f;
  color: #fff;
  border: 1px solid #555;
}


.dark-mode #feedback {
  color: #80b3ff;
}
